<div class="container">
  <div class="content">
    <div class="bubble">yly</div>
    <div class="logo"><span>Spotify</span>Lyrics<sup>beta</sup></div>
    <button mat-raised-button color="primary" (click)="login()">Login with Spotify</button>
    <div class="disclaimer">
      <div>This app is not affiliated with Spotify.</div>
      <div>A Spotify Premium subscription is required.</div>
      <div class="github">View on <a href="https://github.com/masinamichele/yly" target="_blank">GitHub</a></div>
    </div>
  </div>
</div>

<div class="abs">
  by Masina Michele 2018
</div>