$black: #2c3e50;
$dark: #34495e;
$grey: #bdc3c7;
$white: #ecf0f1;
$green: #2ecc71;

a {
  cursor: pointer;
}

.splitscreen {
  display: flex;
  background-color: $black;
}

.player_area {
  width: 60vw;
}

.lyrics_area {
  width: 40vw;
  height: 100vh;
  background: linear-gradient(-110deg, $dark, $black, $black);
  color: $white;
  font-weight: 300;
  > p {
    font-size: 14px;
    margin: 24px;
    margin-top: 0;
    color: $grey;
    font-weight: 300;
    text-align: right;
    a,
    a:link,
    a:hover,
    a:visited {
      color: $grey;
      font-weight: 400;
    }
  }
}

.lyrics {
  height: 93%;
  overflow-y: scroll;
  margin: 24px;
}

.flex_column {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.user_card {
  display: flex;
  align-items: center;
  padding: 24px;
  // background: linear-gradient(130deg, $dark, $black, $black);
  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 24px;
  }
  div {
    font-weight: 300;
    display: flex;
    flex-direction: column;
    color: $grey;
    div {
      font-size: 30px;
      color: $white;
    }
    div.actions {
      flex-direction: row;
      a {
        font-size: 14px;
        margin-right: 6px;
        color: $grey;
        text-decoration: none;
        &::before {
          content: "›	";
        }
      }
    }
  }
}

.tab {
  padding: 12px 24px;
  color: $white;
  display: flex;
  align-items: center;
  div.searchbox {
    display: flex;
    margin-left: auto;
    position: relative;
    input {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid $white;
      color: $white;
      outline: none;
      &:focus {
        border-bottom: 2px solid $green;
      }
    }
    div.search_results {
      position: absolute;
      background: #fff;
      top: 39px;
      max-height: 80vh;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow-y: scroll;
      div.result {
        padding: 8px;
        color: $black;
        cursor: pointer;
        div.title {
          font-weight: 400;
        }
        div.artist {
          font-weight: 300;
          font-size: 13px;
        }
        &:hover {
          background-color: #ddd;
        }
      }
    }
  }
}

.center_box {
  flex: 1 1 0;
  padding: 0 24px;
  background-color: $dark;
  color: $white;
  overflow-y: scroll;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  .track_row {
    font-weight: 300;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      border-bottom: 1px solid $black;
    }
    &:hover {
      button.right_btn {
        opacity: 1;
      }
    }
    .right_btn {
      margin-left: auto;
      opacity: 0.3;
    }
    .inQueue {
      opacity: 1 !important;
    }
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: $dark;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: $green;
  border-radius: 4px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, $black, $dark, $black);
  .current {
    width: 100%;
    text-align: center;
    padding: 6px 0;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .buttons {
    margin: 12px;
    margin-bottom: 0;
    button {
      margin: 0 12px;
      background-color: $green;
    }
  }
  .volume {
    display: flex;
    align-items: center;
    justify-content: center;
    mat-icon {
      color: $white;
      margin-right: 6px;
    }
    mat-slider {
      width: 250px;
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #00000099;
  div.overlay_content {
    margin: auto;
    display: flex;
    flex-direction: column;
    mat-icon {
      font-size: 45px;
      margin: auto;
      color: $green;
    }
    div {
      color: $white;
      font-weight: 300;
    }
  }
}

.rotate-center {
  animation: rotate-center 1s ease-in-out infinite both;
}
@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
